#root {
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.malakita {
  text-align: center;
  color: #274d42;
}

.TituloYCategoria {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}